<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="index.php" />
                <rewriteMap name="^(.*)$" />
            </rewriteMaps>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <clear />
        </handlers>
    </system.webServer>
</configuration>
